html, body {
    height: 100%; /* Asegura que html y body cubran toda la pantalla */
    margin: 0;
    padding: 0;
}

* {
    position: relative; /* Todo el contenido debe estar por encima de la capa */
    z-index: 2;
    text-align: center;
    color: #FFFFFF;
   font-family: Merriweather-Bold;
   text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);

}
@font-face {
    font-family: Merriweather-Bold;
    src: url(fonts/Merriweather-Bold.ttf);
}
@font-face {
    font-family: Clint Marker;
    src: url(fonts/Clint\ Marker.ttf);
}

body {
    background-image: url("../IMG/espacium.jpg");
    width: 100%;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Escala la imagen para cubrir toda la página */
    background-position: center; /* Centra la imagen en la página */
    background-attachment: fixed; /* Hace que la imagen de fondo quede fija al hacer scroll */
    margin: 0; /* Elimina márgenes por defecto del body */
    padding: 0; /* Elimina padding por defecto del body */
    height: 100vh;
    position: relative;
    
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa negra semitransparente */
    z-index: 1; /* La capa negra */
    pointer-events: none;
}

.logo{
    margin-top: 35px;
    max-width: 290px;
    height: auto;
    text-align: center;
    box-shadow: 0 0 15px 5px rgba(128, 0, 128, 0.5), 
    0 0 20px 10px rgba(147, 112, 219, 0.4), 
    0 0 30px 10px rgba(186, 85, 211, 0.3),
    0 0 15px 5px rgba(128, 0, 128, 0.5)inset,
    0 0 20px 10px rgba(147, 112, 219, 0.4)inset, 
    0 0 30px 10px rgba(186, 85, 211, 0.3)inset;
    border-radius: 250px; 
}

.LX{
    text-align: center;
    font-size: 41px;
    text-decoration: none;
    font-weight: bold;
}

.Lexsound:hover{
        font-family: Clint Marker;
        text-transform: uppercase;
        font-size: 43px;
        letter-spacing: 0.061em;
    
}

.S:hover{
    font-family: Clint Marker;
    color: rgb(130, 44, 43);
    text-transform: uppercase;
    font-size: 52px;
    letter-spacing: 0.061em;
}
.saluu{
    font-size: 20px;
    font-weight: bold;
}
.check{
    font-weight: bold;
}

.botonsiwi {
    min-width: 212px;
    max-width: 1220px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-decoration: none; /* Quita el subrayado del enlace */
    padding: 15px 5px;
    font-size: 19px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    background-color: rgb(247, 238, 238);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.722);
    width: auto;
    margin: 20px auto; /* Asegura que el botón esté centrado */
    transition: background-color 0.10s;
}
.botonsiwi:hover {
    background-color: #e8dfdf;
}
.botonsiwi:active{
    background-color: #c4bbbb; 
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.6); /* Efecto presionado */
    transform: scale(0.98);
}

.links {
    margin-top: 41px;
    text-align: center;
}
.portfolio{
    background-color: rgba(92, 64, 51, 0.85);
    padding: 10px 20px;
    margin: 20px 85px; /* Margen vertical y horizontal */
    border-radius: 15px;
    width:auto;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.722);
   font-size: 16px;
}
.speech{
    font-size: 15px;
}
.logolinks {
    max-width: 62px;
    height: 62px;
    margin-right: 40px;
}
.mimail{
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    min-width: 240px;             /* Establece un tamaño mínimo para el botón */
    font-size: 19px;              /* Tamaño de fuente */
    margin: 5px auto;             /* Centra el botón y le da margen arriba y abajo */
    padding: 10px 25px;           /* Espaciado interno del botón */
    width: auto;                  /* El ancho depende del contenido */
    max-width: 250px;             /* Establece el ancho máximo */
    transition: 0.2s;             /* Añade una transición suave para el hover */
 /* Asegura que el botón se ajuste al contenido */
}
.mimail:hover{
    background: rgba(50, 50, 50, 0.6);  /* Efecto de fondo semi-transparente */
  border: 2px solid #fff;              /* Borde blanco al hacer hover */
  color: #fff;                         /* Texto blanco al hacer hover */
  margin: 5px auto;                    /* Mantén el margen automático para centrarlo */
  padding: 10px 25px;                  /* Espaciado interno del botón */
  width: auto;                         /* El ancho depende del contenido */
  max-width: 250px;
    border-radius: 8px; 
}

.mimail img{
    margin-right: 7px;
    filter:  invert(100%);
    max-width: 42px;
    vertical-align: -8px;
}
.mimail:active{
    transform: scale(0.98);
}
.nota{
    line-height: 1.2em;
    font-size: 16px;
    border-left: 8px solid #d32f2f; /* Rojo oscuro */
    padding-left: 10px;
    font-style: italic;
    display: block;  /* Asegura que ocupe una línea completa */
    margin: 10px 0;
}
.notiwi{
    max-width: 600px; /* Ajusta el ancho según lo necesites */
    margin: 0 auto;  /* Centra el contenedor si es necesario */
}
.socials{
    display: block;

}

.botonesX{
/*padding: 10px 5px;*/
cursor: pointer;
background-color: transparent;
display: flex;
align-items: center; /* Centra verticalmente */
justify-content: center;
text-decoration: none;
padding: 12px 5px;
font-size: 20px;
font-weight: bold;
text-align: left;
margin: 20px 150px;
width: auto;
border-radius: 20px;
text-shadow: rgba(239, 21, 255, 1);
color: #ff3bef;
border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
}
.botonesX:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}
.botonesX:active{
  
    box-shadow: inset 0px 3px 6px rgba(130, 130, 130, 0.6); /* Efecto presionado */
    transform: scale(0.98);
}

.imageniwi{
    max-width: 68px;
    margin: 20px 9px; 
    filter: hue-rotate(428deg) saturate(100%);
    filter: invert(0.65) sepia(100%) hue-rotate(244deg) saturate(500%);
}

.botonesTikitok{
    /*padding: 10px 5px;*/
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-decoration: none;
    padding: 12px 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 20px 150px;
    width: auto;
    border-radius: 20px;
    text-shadow: rgba(239, 21, 255, 1);
    color: #ff3bef;
    border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
    box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
    }
.imageniwiTikitok{
        max-width: 68px;
        margin: 20px 10px; 
        filter: hue-rotate(428deg) saturate(100%);
        filter: invert(0.40) sepia(100%) hue-rotate(244deg) saturate(500%);
    }
    .botonesTikitok:hover {
        background-color:  rgba(228, 116, 250, 0.351);
    }
    .botonesTikitok:active{
        box-shadow: inset 0px 3px 6px rgba(130, 130, 130, 0.6);
        transform: scale(0.98);
    }

.imageniwiIG{
    max-width: 53px;
    margin: 20px 20px; 
    filter: invert(0.65) sepia(100%) hue-rotate(244deg) saturate(500%);
}

.botonesIG{
/*padding: 10px 5px;*/
cursor: pointer;
background-color: transparent;
display: flex;
align-items: center; /* Centra verticalmente */
justify-content: center;
text-decoration: none;
padding: 12px 5px;
font-size: 20px;
font-weight: bold;
text-align: left;
margin: 20px 150px;
width: auto;
border-radius: 20px;
text-shadow: rgba(239, 21, 255, 1);
color: #ff3bef;
border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
}
.botonesIG:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}

.botonesIG:active{
    
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.6);
    transform: scale(0.98);
}

.botonesYT{
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-decoration: none;
    padding: 12px 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 20px 150px;
    width: auto;
    border-radius: 20px;
    text-shadow: rgba(239, 21, 255, 1);
    color: #ff3bef;
    border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
    box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
}
.botonesYT:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}
.botonesYT:active{

    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.6);
    transform: scale(0.98);
}
.imageniwiYT{
    max-width: 65px;
    margin: 20px 20px;
    filter: hue-rotate(-65deg) saturate(100%);
}

.imageniwiMPago{
    max-width: 85px;
    margin: 20px 8px;
    filter: hue-rotate(428deg) saturate(100%);
}
.botonesMPago{
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-decoration: none;
    padding: 8px 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 20px 150px;
    width: auto;
    border-radius: 20px;
    text-shadow: rgba(239, 21, 255, 1);
    color: #ff3bef;
    border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
    box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */

}
.botonesMPago:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}
.botonesMPago:active{
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.6);
    transform: scale(0.98);
}
.botonesAmazon {
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-decoration: none;
    padding: 29px 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 20px 150px;
    width: auto;
    border-radius: 20px;
    text-shadow: rgba(239, 21, 255, 1);
    color: #ff3bef;
    border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
    box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
}
.botonesAmazon:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}
.botonesAmazon:active{
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.6);
    transform: scale(0.98);
}
.imageniwiAmazon{
    max-width: 75px;
    margin: 18px 18px 18px 0px ;
    filter: hue-rotate(2420deg) saturate(100%);
}

.imageniwiPaypal{
    max-width: 63px;
    margin: 15px 10px 15px 0px;
    display: flex;
    justify-content: left;
    filter: hue-rotate(423deg) saturate(100%);

}
.botonesPaypal {
    text-shadow: rgba(239, 21, 255, 1);
    cursor: pointer;
    background-color: transparent;
    color: #ff3bef;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-decoration: none;
    padding: 18px 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin: 20px 150px;
    width: auto;
    border-radius: 20px;
    border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
    box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
}

.botonesPaypal:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}
.botonesPaypal:active{
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.6);
    transform: scale(0.98);
}
.foot{
    margin: 121px;
}