html, body {
    height: 100%; /* Asegura que html y body cubran toda la pantalla */
    margin: 0;
    padding: 0;
}

* {
    position: relative; /* Todo el contenido debe estar por encima de la capa */
    z-index: 2;
    text-align: center;
    color: #FFFFFF;
   font-family: Merriweather-Bold;
   text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);

}
/*
@font-face {
   font-family: Merriweather-Bold;
    src: url(../fonts/Merriweather-Bold.ttf);

}

*/
body {
    background-image: url("../IMG/espacium.jpg");
    width: 100%;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Escala la imagen para cubrir toda la página */
    background-position: center; /* Centra la imagen en la página */
    background-attachment: fixed; /* Hace que la imagen de fondo quede fija al hacer scroll */
    margin: 0; /* Elimina márgenes por defecto del body */
    padding: 0; /* Elimina padding por defecto del body */
    height: 100vh;
    position: relative;
    
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa negra semitransparente */
    z-index: 1; /* La capa negra */
    pointer-events: none;
}

.logo{
    margin-top: 55px;
    max-width: 290px;
    height: auto;
    text-align: center;
    box-shadow: 0 0 15px 5px rgba(128, 0, 128, 0.5), 
    0 0 20px 10px rgba(147, 112, 219, 0.4), 
    0 0 30px 10px rgba(186, 85, 211, 0.3),
    0 0 15px 5px rgba(128, 0, 128, 0.5)inset,
    0 0 20px 10px rgba(147, 112, 219, 0.4)inset, 
    0 0 30px 10px rgba(186, 85, 211, 0.3)inset;
    border-radius: 250px; 
}

.emmyL{
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
}



.saluu{
    font-size: 20px;
    font-weight: bold;
}
.check{
    font-weight: bold;
}

.links {
    margin-top: 41px;
    text-align: center;
}

.speech{
    font-size: 15px;
}

.logolinks {
    max-width: 62px;
    height: 62px;
    margin-right: 40px;
}

.socials{
    display: block;

}

.botonesX{
/*padding: 10px 5px;*/
min-width: 225px;
cursor: pointer;
display: flex;
align-items: center; /* Centra verticalmente */
justify-content: center;
text-decoration: none;
padding: 10px 5px;
font-size: 21px;
text-align: left;
margin: 20px 150px;
width: auto;
border-radius: 80px;
background-color: transparent;
text-shadow: rgba(239, 21, 255, 1);
color: #ff3bef;
border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
}
.botonesX:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}
.botonesX:active{
     transform: scale(0.98);
}

.imageniwi{
    max-width: 68px;
    margin: 20px 9px; 
    filter: hue-rotate(428deg) saturate(100%);
    filter: invert(0.65) sepia(100%) hue-rotate(244deg) saturate(500%);
}

.botonesTikitok{
    /*padding: 10px 5px;*/
    min-width: 225px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-decoration: none;
    padding: 10px 5px;
    font-size: 21px;
    text-align: left;
    margin: 20px 150px;
    width: auto;
    border-radius: 80px;
     background-color: transparent;
    text-shadow: rgba(239, 21, 255, 1);
    color: #ff3bef;
    border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
    box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
}

.imageniwiTikitok{
    max-width: 68px;
    margin: 20px 10px; 
    filter: hue-rotate(428deg) saturate(100%);
    filter: invert(0.40) sepia(100%) hue-rotate(244deg) saturate(500%);
}
.botonesTikitok:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}
.botonesTikitok:active{
    transform: scale(0.98);
}

.imageniwiIG{
    max-width: 53px;
    margin: 20px 20px; 
    filter: invert(0.65) sepia(100%) hue-rotate(244deg) saturate(500%);
}

.botonesIG{
    min-width: 225px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-decoration: none;
    padding: 10px 5px;
    font-size: 21px;
    text-align: left;
    margin: 23px 150px;
    width: auto;
    border-radius: 80px;
background-color: transparent;
text-shadow: rgba(239, 21, 255, 1);
color: #ff3bef;
border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
}
.botonesIG:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}

.botonesIG:active{

    transform: scale(0.98);
}
.botonestwish{
    min-width: 225px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-decoration: none;
    padding: 10px 5px;
    font-size: 21px;
    text-align: left;
    margin: 23px 150px;
    width: auto;
    border-radius: 80px;
background-color: transparent;
text-shadow: rgba(239, 21, 255, 1);
color: #ff3bef;
border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
}
.botonestwish:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}

.botonestwish:active{
    transform: scale(0.98);
}
.imageniwitwish{
    max-width: 57px;
    margin: 20px 20px; 
    filter: invert(0.65) sepia(100%) hue-rotate(244deg) saturate(500%);
}
.botonesYT{
    min-width: 225px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-decoration: none;
    padding: 10px 5px;
    font-size: 21px;
    text-align: left;
    margin: 20px 150px;
    width: auto;
    border-radius: 80px;
    background-color: transparent;
    text-shadow: rgba(239, 21, 255, 1);
    color: #ff3bef;
    border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
    box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
}

.botonesYT:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}
.botonesYT:active{
    transform: scale(0.98);
}
.imageniwiYT{
    max-width: 65px;
    margin: 20px 20px;
    filter: hue-rotate(-65deg) saturate(100%);
}

.imageniwiMPago{
    max-width: 85px;
    margin: 20px 8px;
    filter: hue-rotate(428deg) saturate(100%);
}
.botonesMPago{
    min-width: 225px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-decoration: none;
    padding: 9px 5px;
    font-size: 21px;
    text-align: left;
    margin: 20px 150px;
    width: auto;
    border-radius: 80px;
    background-color: transparent;
    text-shadow: rgba(239, 21, 255, 1);
    color: #ff3bef;
    border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
    box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */

}
.botonesMPago:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}
.botonesMPago:active{
    transform: scale(0.98);
}
.botonesAmazon {
    min-width: 225px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-decoration: none;
    padding: 25px 5px;
    font-size: 21px;
    text-align: left;
    margin: 20px 150px;
    width: auto;
    border-radius: 80px;
    background-color: transparent;
    text-shadow: rgba(239, 21, 255, 1);
    color: #ff3bef;
    border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
    box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
}
.botonesAmazon:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}
.botonesAmazon:active{
    transform: scale(0.98);
}
.imageniwiAmazon{
    max-width: 75px;
    margin: 18px 18px 18px 0px ;
    filter: hue-rotate(2420deg) saturate(100%);
    padding: 10px 0px;
}

.imageniwiPaypal{
    max-width: 63px;
    margin: 15px 10px 15px 0px;
    display: flex;
    justify-content: left;
    filter: hue-rotate(423deg) saturate(100%);

}
.botonesPaypal {
    min-width: 225px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-decoration: none;
    padding: 10px 5px;
    font-size: 21px;
    text-align: left;
    margin: 20px 150px;
    width: auto;
    border-radius: 80px;
    background-color: transparent;
    border: 2px solid rgb(208, 0, 255); /* Borde del color deseado */
    box-shadow: 0 0 8px rgb(233, 32, 251); /* Efecto de iluminación */
    text-shadow: rgba(239, 21, 255, 1);
    color: #ff3bef;
}

.botonesPaypal:hover {
    background-color:  rgba(228, 116, 250, 0.351);
}
.botonesPaypal:active{
    transform: scale(0.98);
}
.foot{
    margin: 121px;
}